//light mode color

$LightBrightBlue: #0079FF;
$LightGrey: #697C9A;
$LightGreyishBlue: #4B6A9B;
$LightDarkGrey: #2B3442;
$LightLightGrey: #F6F8FF;
$LightWhite: #FEFEFE;


//Dark mode color

$DarkBrightBlue: #0079FF;
$DarkWhite: #FFFFFF;
$DarkDarkBlue: #141D2F;
$DarkBlue: #1E2A47;

