.search__bar {
  position: relative;
  width: 100%;
}

.search__bar .search__bar__input {
  width: 100%;
  height: 69px;
  border-radius: 15px;
  border: none;
  padding-left: 70px;
  font-size: 18px;
  color: #4B6A9B;
  -webkit-box-shadow: 0px 3px 30px rgba(70, 96, 187, 0.4);
          box-shadow: 0px 3px 30px rgba(70, 96, 187, 0.4);
  font-family: 'Space Mono', monospace;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

@media (max-width: 43.125em) {
  .search__bar .search__bar__input {
    font-size: 13px;
    padding-left: 45px;
  }
}

.search__bar .search__bar__input:focus {
  outline: none;
}

.search__bar .search__bar__button {
  width: 106px;
  height: 50px;
  color: #FEFEFE;
  background-color: #0079FF;
  position: absolute;
  border-radius: 15px;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  font-size: 16px;
  font-family: 'Space Mono', monospace;
  font-weight: bold;
}

@media (max-width: 43.125em) {
  .search__bar .search__bar__button {
    width: 84px;
  }
}

.search__bar .search__bar__button:hover {
  background-color: #60ABFF;
  cursor: pointer;
}

.search__bar .search__bar__error {
  position: absolute;
  color: red;
  font-weight: bold;
  top: 50%;
  right: 125px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  visibility: hidden;
}

.search__bar .search__bar__error.visible {
  visibility: visible;
}

.search__bar .search__bar__icon {
  width: 24px;
  aspect-ratio: 1;
  background-image: url(../../assets/icon-search.svg);
  position: absolute;
  top: 50%;
  left: 35px;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

@media (max-width: 43.125em) {
  .search__bar .search__bar__icon {
    left: 23px;
  }
}

.search__bar.dark .search__bar__input {
  background-color: #1E2A47;
  color: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.theme__toggle {
  width: 89px;
  height: 20px;
  font-size: 13px;
  color: #4B6A9B;
  font-weight: bold;
  font-family: 'Space Mono', monospace;
  text-align: left;
  background-color: transparent;
  border: none;
  position: relative;
}

.theme__toggle::after {
  content: "";
  position: absolute;
  width: 20px;
  aspect-ratio: 1;
  background-image: url(../../assets/icon-moon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.theme__toggle:hover {
  color: #222731;
  cursor: pointer;
}

.theme__toggle:hover::after {
  content: "";
  position: absolute;
  width: 20px;
  aspect-ratio: 1;
  background-image: url(../../assets/icon-moon_copy.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.theme__toggle.dark {
  width: 89px;
  height: 20px;
  font-size: 13px;
  color: #FFFFFF;
  font-family: 'Space Mono', monospace;
  text-align: left;
  border: none;
  position: relative;
}

.theme__toggle.dark::after {
  content: "";
  position: absolute;
  width: 20px;
  aspect-ratio: 1;
  background-image: url(../../assets/icon-sun.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.theme__toggle.dark:hover {
  color: #90A4D4;
}

.theme__toggle.dark:hover::after {
  content: "";
  position: absolute;
  width: 20px;
  aspect-ratio: 1;
  background-image: url(../../assets/icon-sun_copy.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  right: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  cursor: pointer;
}

body {
  background-color: #F6F8FF;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-transition-property: background-color, color, background-image, -webkit-box-shadow;
  transition-property: background-color, color, background-image, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow, background-image;
  transition-property: background-color, color, box-shadow, background-image, -webkit-box-shadow;
}

main {
  width: 730px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-transition-property: background-color, color, background-image, -webkit-box-shadow;
  transition-property: background-color, color, background-image, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow, background-image;
  transition-property: background-color, color, box-shadow, background-image, -webkit-box-shadow;
}

@media (max-width: 64rem) {
  main {
    width: 573px;
  }
}

@media (max-width: 43.125em) {
  main {
    width: 327px;
  }
}

main header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

main .search__bar {
  margin-bottom: 24px;
}

main .results {
  position: relative;
  background-color: #FEFEFE;
  -webkit-box-shadow: 0px 3px 30px rgba(70, 96, 187, 0.4);
          box-shadow: 0px 3px 30px rgba(70, 96, 187, 0.4);
  border-radius: 15px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-transition-property: background-color, color, background-image, -webkit-box-shadow;
  transition-property: background-color, color, background-image, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow, background-image;
  transition-property: background-color, color, box-shadow, background-image, -webkit-box-shadow;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
}

@media (max-width: 64rem) {
  main .results {
    padding: 24px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 117px calc(100% - 117px);
        grid-template-columns: 117px calc(100% - 117px);
    -ms-grid-rows: 117px 106px 85px 150px;
        grid-template-rows: 117px 106px 85px 150px;
        grid-template-areas: "A B" "C C" "D D" "E E";
  }
}

main .results .avatar {
  width: 117px;
  height: 117px;
  border-radius: 50%;
  margin-right: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 43.125em) {
  main .results .avatar {
    width: 70px;
    height: 70px;
  }
}

main .results .text {
  width: calc(100% - 117px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 64rem) {
  main .results .text {
    position: absolute;
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100%;
    padding: 40px;
    -ms-grid-columns: 117px calc(100% - 117px);
        grid-template-columns: 117px calc(100% - 117px);
    -ms-grid-rows: 117px 106px 85px 103px;
        grid-template-rows: 117px 106px 85px 103px;
        grid-template-areas: "A B" "C C" "D D" "E E";
  }
}

@media (max-width: 43.125em) {
  main .results .text {
    padding: 24px;
    -ms-grid-columns: 70px calc(100% - 70px);
        grid-template-columns: 70px calc(100% - 70px);
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
  }
}

main .results .text__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

@media (max-width: 64rem) {
  main .results .text__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-area: B;
    padding-left: 30px;
  }
}

@media (max-width: 43.125em) {
  main .results .text__header {
    margin-bottom: 15px;
  }
}

main .results .text__header__left h2 {
  margin-bottom: 10px;
}

main .results .text__bio {
  margin-bottom: 20px;
}

@media (max-width: 64rem) {
  main .results .text__bio {
    grid-area: C;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

main .results .text__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #F6F8FF;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-transition-property: background-color, color, background-image, -webkit-box-shadow;
  transition-property: background-color, color, background-image, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow, background-image;
  transition-property: background-color, color, box-shadow, background-image, -webkit-box-shadow;
  padding: 32px 20px;
  border-radius: 15px;
  margin-bottom: 40px;
}

@media (max-width: 64rem) {
  main .results .text__center {
    grid-area: D;
    height: 100%;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .results .text__logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  gap: 15px;
  margin-bottom: 40px;
}

@media (max-width: 64rem) {
  main .results .text__logos {
    grid-area: E;
    margin-top: 20px;
  }
}

@media (max-width: 43.125em) {
  main .results .text__logos {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
  }
}

main .results .text__logos__location__icon, main .results .text__logos__twitter__icon, main .results .text__logos__blog__icon, main .results .text__logos__company__icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 20px;
}

main .results .text__logos__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .results .text__logos__location__icon {
  width: 14px;
  height: 20px;
  background-image: url(../../assets/icon-location.svg);
}

main .results .text__logos__twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .results .text__logos__twitter__icon {
  height: 20px;
  width: 16px;
  background-image: url(../../assets/icon-twitter.svg);
}

main .results .text__logos__blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .results .text__logos__blog__icon {
  height: 20px;
  width: 20px;
  background-image: url(../../assets/icon-website.svg);
}

main .results .text__logos__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .results .text__logos__company__icon {
  height: 20px;
  width: 20px;
  background-image: url(../../assets/icon-company.svg);
}

.results.hidden {
  visibility: hidden;
}

*.undefined {
  opacity: 0.4;
}

body.dark {
  background-color: #141D2F;
}

main.dark .results {
  background-color: #1E2A47;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main.dark .results .text__center {
  background-color: #141D2F;
}

main.dark .results .text__logos__location__icon {
  background-image: url(../../assets/icon-location_copy.svg);
}

main.dark .results .text__logos__twitter__icon {
  background-image: url(../../assets/icon-twitter_copy.svg);
}

main.dark .results .text__logos__blog__icon {
  background-image: url(../../assets/icon-website_copy.svg);
}

main.dark .results .text__logos__company__icon {
  background-image: url(../../assets/icon-company_copy.svg);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: 'Space Mono', monospace;
  padding: 3rem;
}

main h1 {
  font-size: 26px;
  color: #2B3442;
  font-weight: bold;
}

@media (max-width: 43.125em) {
  main h1 {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

main h2 {
  font-size: 22px;
  color: #2B3442;
  font-weight: bold;
}

@media (max-width: 43.125em) {
  main h2 {
    font-size: 16px;
  }
}

main h3 {
  font-size: 16px;
  color: #0079FF;
  font-weight: 400;
}

main h4 {
  font-size: 13px;
  color: #4B6A9B;
  font-weight: 400;
}

main p {
  font-size: 15px;
  color: #2B3442;
}

@media (max-width: 43.125em) {
  main p {
    font-size: 13px;
  }
}

main a {
  text-decoration: none;
  color: #4B6A9B;
}

main a:hover {
  text-decoration: underline;
}

main.dark h1 {
  color: #FFFFFF;
}

main.dark h2 {
  color: #FFFFFF;
}

main.dark h4 {
  color: #FFFFFF;
}

main.dark p {
  color: #FFFFFF;
}

main.dark a {
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */